Source: node-textextensions
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Faris Shajahan <farisshajahan@yahoo.com>
Build-Depends:
 debhelper (>= 11)
 , dh-buildinfo
 , nodejs
Standards-Version: 4.1.3
Homepage: https://github.com/bevry/textextensions
Vcs-Git: https://anonscm.debian.org/git/pkg-javascript/node-textextensions.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-javascript/node-textextensions.git

Package: node-textextensions
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
Description: Array of text file extentsions
 A package that contains an array of every single file extension there is for
 text files
 .
 Node.js is an event-based server-side JavaScript engine.
